/* ---HEADER--- */

.barSup {
    position: sticky;
    top: 0;
    background-color: map-get($apariencia, bgSitio);
    color: map-get($apariencia, fontSitio);
    z-index: 100;
    border-bottom: 2px solid goldenrod;

    nav {
        div {
            width: 100%;
            @include flex (flex, space-evenly, center);            
            div {
                a {
                    img {
                        width: 300px;
                    }
                }
            }

            div {
                ul {
                    li {
                        a {
                            
                            color: map-get($apariencia, fontSitio);
                            font-size: 16px;
                            font-weight: 600;
                            padding: 15px;
                            transition: 0.5s;

                            &:hover {
                                color: nth($color, 3);
                            }

                            &:active {
                                color: nth($color, 2);
                            }
                        }
                    }
                }
            }
        }
    }
}