@media screen and (max-width: 1150px) {
    .presentacion {
        img {
            width: 300px;
        }
    }

    .productos {
        grid-template-columns: 250px 250px 250px;

        .tituloProductos {
            grid-column: 1/ span 3;
        }
    }
}

@media screen and (max-width: 991px) {
    .barSup {
        nav {
            div {
                justify-content: space-between;

                div {
                    a {
                        h1 {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .productos {
        grid-template-columns: 250px 250px;

        .tituloProductos {
            grid-column: 1/span 2;
        }
    }
}

@media screen and (max-width: 870px) {
    .barSup {
        position: static;
        width: 100%;
    }

    .presentacion {
        img {
            width: 200px;
        }
    }

    .social {
        div {
            a {
                img {
                    width: 40px;
                    margin: -10px;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .gridContacto {
        grid-template-columns: 1fr;
        grid-template-areas:
            "contacto"
            "formulario"
            "datos"
        ;

        .boxFormulario {
            grid-area: formulario;
        }

        .boxContacto {
            grid-area: contacto;
        }

        .contactoAddress {
            grid-area: datos;
            flex-direction: row;
        }
    }
}

@media screen and (max-width: 749px) {
    .barSup {
        nav {
            div {
                div {
                    a {
                        img {
                            width: 250px;
                        }
                    }
                }
            }
        }
    }

    .atajoMontale {
        order: 2;
    }

    .containerHistoria {
        grid-template-columns: 1fr;

        .tituloHistoria {
            grid-column: 1/span 1;
        }

        .textoHistoria {
            grid-column: 1/span 1;
            .imagenRespHistoria {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 90%;
                }

                figcaption {
                    width: 90%;
                    background-color: nth($color, 2);
                    color: nth($color, 1);
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }

        .imagenesHistoria {
            display: none;
        }
    }

    .footer {
        flex-direction: column;
        align-items: center;
        height: auto;

        .address {
            text-align: center;
            margin-bottom: 30px;
        }

        .email {
            a {
                img {
                    margin-bottom: 30px;
                }
            }
        }

        .social {
            display: flex;
            flex-direction: column;

            div {
                a {
                    img {
                        margin: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 670px) {
    .barSup {
        nav {
            div {
                div {
                    a {
                        img {
                            width: 200px;
                        }
                    }
                }
            }
        }
    }

    .containerNosotros {
        grid-template-columns: 1fr;
        grid-template-areas:
            "introduccion"
            "autor"
            "profesor"
            "ayudante"
            "colaborador"
            "aside"
        ;
    }
}

@media screen and (max-width: 620px) {
    .barSup {
        nav {
            div {
                div {
                    a {
                        img {
                            width: 160px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .presentacion {
        flex-direction: column;

        div {
            order: 2;
            width: 90%
        }

        img {
            margin-bottom: 25px;
            width: 280px;
        }
    }

    .productos {
        grid-template-columns: 250px;

        .tituloProductos {
            grid-column: 1/span 1;
        }
    }

    .textoHistoria {
        p {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 499px) {
    .atajoMontale {
        order: 0;
    }

    .gridContacto {
        .boxFormulario {
            font-size: 13px;
        }

        .contactoAddress {
            flex-direction: column;
        }
    }
}